<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Expense</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='edit-style.css') }}">
</head>

<body>
   <div class="edit-container">
    <div class="edit-card">
     <h1>Edit Expense</h1>
        <form method="POST">
           <input type="text" name="amount" placeholder="Amount" value="{{ expense.amount }}" required>
           <input type="text" name="category" placeholder="Category" value="{{ expense.category }}" required>           
           <input type="date" name="date" value="{{ expense.date }}" required>
           <input type="text" name="description" placeholder="Description" value="{{ expense.description }}">
           <button type="submit">Update</button>
        </form>
        <a class="back-link" href="{{ url_for('view') }}">Back to View</a>
    </div>
 </div>
</body>
</html>
