<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Expenses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='view-style.css') }}">
</head>
<body>
<div class="view-container">
    <div class="view-card">
        <h1>All Expensess</h1>
        <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                 <th>Amount</th>
                 <th>Category</th>
                 <th>Date</th>
                 <th>Description</th>
                 <th>Actions</th>
                </tr>
            </thead>
                <tbody>
                    {% for expense in expenses %}
                <tr>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.description }}</td>
                  <td>
                     <a href="{{ url_for('edit', id=expense.id) }}" class="edit-btn">Edit</a>
                     <a href="{{ url_for('delete', id=expense.id) }}" class="delete-btn">Delete</a>
                  </td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="back-link" href="{{ url_for('index') }}">Back to Home</a>
    </div>
</div>
</body>
</html>
